/* Libby Wichman
*  Review 1-4
*  2019-09-25
*/


#outerwrapper {
   width: 90%;
   margin: 0 auto 0 auto;
   padding: 0.5em 1.5em;
   background-color: #eee;
}

p {
   float: left;
   width: 25%;
}


.html {
   color: #00f;
}

.css {
   color: #FF69B4;
}

.javascript {
   color: #2fb74f;
}
