/* Libby Wichman
*  Review 1-4
*  2019-10-15
*/


#outerwrapper {
   width: 90%;
   margin: 0 auto 0 auto;
   padding: 0.5em 1.5em;
   background-color: #eee;
}

button {
   display: block;
   margin:0.5em;
}

label {
   padding: 0.5em 0  0 0;
   display: inline-block;
   text-align: right;
}

.favorite {
   color: black;
}

.html {
   color: #00f;
}

.css {
   color: #FF69B4;
}

.javascript {
   color: #2fb74f;
}

.explaination {
   font-family: "Courier New", Courier, monospace;
}
